.ant-divider-vertical {
  background: black !important;
  padding: 0.5px !important;
  height: 1em !important;
}

.ant-divider-horizontal {
  margin: 0.5em auto !important;
  background: black !important;
  min-width: 50% !important;
  width: 50% !important;
  background: rgb(214, 214, 214);
  background: -moz-linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(59, 59, 59, 1) 53%,
    rgba(214, 214, 214, 1) 100%
  ) !important;
  background: -webkit-linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(59, 59, 59, 1) 53%,
    rgba(214, 214, 214, 1) 100%
  ) !important;
  background: linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(59, 59, 59, 1) 53%,
    rgba(214, 214, 214, 1) 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6d6d6",endColorstr="#d6d6d6",GradientType=1) !important;
}
