.d-f {
  display: flex !important;
}

.f-row {
  flex-direction: row !important;
}

.f-col {
  flex-direction: column !important;
}

.d-f-a-center {
  @extend .d-f;
  align-items: center !important;
}

.d-f-baseline {
  @extend .d-f;
  align-items: baseline !important;
}

.d-f-center {
  @extend .d-f;
  align-items: center !important;
  align-self: center !important;
}

.auto-size {
  @extend .d-f;
  flex-grow: 1;
}

.auto-size-center {
  @extend .d-f-center;
  @extend .auto-size;
}
