$grey-bg: #bdbebd;
.main_action_bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 2px solid rgb(255, 255, 255);
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #bdbebd;
}

.mainbar-tab {
  display: flex;
  cursor: default;
  user-select: none;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  color: black;
  min-width: 95px;
  height: 100%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
  padding: 0.2vh 0.2vh 0.2vh 4px;
  border-style: solid;
  border-width: 2px;
  margin: 0px 5px;
  background: $grey-bg;
}

.main-bar-tab-start {
  width: 5.3vw !important;
}

.main-bar-tab-activity {
  width: 150px !important;
}

.mainbar-tab-default {
  border-color: white black black white;
}

.mainbar-tab-active {
  border-color: black white white black;
}
