.reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.action {
  cursor: pointer;
}

:any-link {
  color: black;
}

.absolute {
  position: absolute;
}

.empty_preserve:after {
  content: "\200b";
}

.none {
  display: none !important;
}

.relative {
  position: relative;
}

.absolute-t-r {
  top: 2em;
  right: 2em;
}

.absolute-b-r {
  bottom: 0.25em;
  right: 1em;
}

.text-black {
  color: black !important;
}

.text-white {
  color: white !important;
}

.text-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}

.t-2 {
  font-size: 1.25rem;
}
.t-1 {
  font-size: 1rem;
}

.t-0 {
  font-size: 1rem;
}

.black {
  color: black !important;
}
.border-s {
  border-radius: 10px !important;
}

.border-l {
  border-radius: 25px !important;
}

$spaceamounts: (
  0.25,
  0.5,
  0.75,
  1,
  1.25,
  1.5,
  1.75,
  2,
  2.25,
  2.5,
  2.75,
  3
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@for $i from 1 through length($spaceamounts) {
  .m-#{$i} {
    margin: #{nth($spaceamounts, $i)}em !important;
  }

  .p-#{$i} {
    padding: #{nth($spaceamounts, $i)}em !important;
  }
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$i} {
      margin-#{$side}: #{nth($spaceamounts, $i)}em !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$i} {
      padding-#{$side}: #{nth($spaceamounts, $i)}em !important;
    }
  }
}
