<template>
  <div id="home">
    <Icon
      v-for="(app, index) in apps"
      :key="index"
      :app="app"
      class="draggable"
      @click="open(app)"
      @mousedown="start(app)"
      @mouseleave="stop"
      @mouseup="stop"
    />
    <MainActionBar :apps="apps" :ref="'__main_action_bar'" @click-app="open" />

    <ComponentHolder
      @set-focus="firstPlan"
      @close-window="onWindowClose"
      @show-window="onWindowActive"
      @action="closeAction"
      :ref="`modal_${app.name.toLowerCase().replaceAll(' ', '_')}`"
      v-for="(app, index) in apps"
      :app="app"
      :key="index"
    />
  </div>
</template>

<script lang="ts">
//@ts-nocheck
import { defineComponent, onMounted } from "vue";
import { ref, Ref } from "@nopr3d/vue-next-rx";

import { getAllArticles, isMobile, displayModal, hideModal } from "@/services";
import { Application, Article } from "@/models";

import { Applications } from "@/data";

import Icon from "@/components/Icon.vue";

import ComponentHolder from "@/components/ComponentHolder.vue";
import MainActionBar from "@/components/MainActionBar.vue";

export default defineComponent({
  name: "Home",
  components: { Icon, MainActionBar, ComponentHolder },

  setup() {
    const articles: Ref<Article[]> = ref([]);
    const isLoading: Ref<boolean> = ref(true);
    const isError: Ref<boolean> = ref(false);
    var apps = [...Applications];

    isMobile.any()
      ? (apps = apps.filter(
          (app: Application) => app.name !== "Face Mask Detector"
        ))
      : null;

    onMounted(() => {
      getAllArticles()
        .then((fetchArticles) => {
          apps.map((app) =>
            app.name === "Blog" ? (app.contents = fetchArticles) : app
          );
          isLoading.value = false;
        })
        .catch(() => {
          isLoading.value = false;
          isError.value = true;
        });
    });
    return { apps, isMobile, articles, isLoading, isError };
  },
  data() {
    return { isLongPress: false, interval: null, spamProtection: -1 };
  },
  mounted() {
    setTimeout(() => {
      this.$refs[`modal_about`].showModal();
      // this.$refs[`modal_tic_tac_toe_vs_bot`].showModal();
    }, 250);
  },
  methods: {
    firstPlan(app: Application) {
      this.apps.forEach((_app: Application) => {
        try {
          this.$refs[
            `modal_${_app.name.toLowerCase().replaceAll(" ", "_")}`
          ].secondPlan();
        } catch (e) {
          console.log("home @ hu hu error");
        }
      });

      this.$refs[
        `modal_${app.name.toLowerCase().replaceAll(" ", "_")}`
      ].firstPlan();
    },
    onWindowActive(app: Application) {
      this.$refs["__main_action_bar"].appApp(app);

      this.$nextTick(() => {
        displayModal(app);
      });
    },
    onWindowClose(app: Application) {
      this.$refs["__main_action_bar"].removeApp(app);

      this.$nextTick(() => {
        hideModal(app);
      });
    },
    closeAction(app: Application) {
      this.$refs[
        `modal_${app.name.toLowerCase().replaceAll(" ", "_")}`
      ].closeModal();
    },
    open(app: Application) {
      if (!this.isLongPress) {
        if (!app.fn) {
          this.$refs[
            `modal_${app.name.toLowerCase().replaceAll(" ", "_")}`
          ].showModal();
        } else {
          app.fn();
        }
      }
    },
    start(app: Application) {
      this.firstPlan(app);
      this.interval = setInterval(() => (this.isLongPress = true), 250);
      this.spamProtection = this.interval;
    },
    stop() {
      setTimeout(() => {
        clearInterval(this.interval);
        this.isLongPress = false;
      }, 500);
    },
  },
});
</script>
<style lang="scss">
#home {
  width: 100%;
  height: 100%;
}

.dragging-container,
.dragging-container * {
  -ms-touch-action: none;
  touch-action: none;
}

#component_holder_wrap {
  position: absolute;
  display: contents;
  top: 0px;
  > div {
    display: contents;
    position: absolute;
  }
}
.draggable {
  width: min-content;
  height: min-content;
  touch-action: none;
  user-select: none;
  cursor: pointer !important;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.__modal_cv {
  max-width: min-content !important;
  width: min-content !important;
}

.ant-modal-close {
  z-index: auto !important;
}
</style>
