<template>
  <div class="card d-f-center f-row bg-article auto-size border-l">
    <div class="card_source absolute absolute-t-r bg-steel">
      <img class="icon-external" :src="`/logo/${article.isFrom}.svg`" />
    </div>

    <a-col :span="6">
      <div class="card_picture">
        <img alt="logo" class="border-s" :src="article.picture" /></div
    ></a-col>
    <a-col :span="18">
      <div class="auto-size-center f-col ">
        <div class="card_title">
          <a class="card_action" :href="article.link" target="_blank">{{
            article.title
          }}</a>
        </div>
        <div class="card_resume p-t-5">
          <p>{{ article.description }}</p>
        </div>
        <div class="card_labels d-f f-row">
          <div
            class="card_reactions d-f f-row"
            v-if="article.reactions || article.comments"
          >
            <a-col>
              <LikeOutlined v-if="article.reactions" />
              {{ article.reactions }}
            </a-col>
            <a-col>
              <MessageOutlined v-if="article.comments !== undefined" />
              {{ article.comments }}
            </a-col>
          </div>
        </div>
      </div>
    </a-col>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

import { Article } from "@/models";
import { isMobile } from "@/services";

export default defineComponent({
  name: "ArticleCard",
  props: {
    article: {
      type: Object as () => Article,
      required: true,
    },
    gifffer: {
      type: Object,
      required: true,
    },
  },
  methods: {
    openExternal(link: string) {
      window.open(link, "_blank");
    },
    controlGif: (
      gifffer: HTMLButtonElement[],
      element: Article,
      event: Event
    ) => {
      console.log(gifffer);
      event.preventDefault();
      gifffer.find((button) => {
        console.log(button);
        console.log(element);
        Number(button.id) === element.index ? button.click() : null;
      });
    },
  },

  setup() {
    return { isMobile };
  },
});
</script>
<style lang="scss">
.card {
  padding: 3em !important;
}

.card_title {
}
.card_action {
}
.card_picture {
  > img {
    width: 100%;
    height: 100%;
  }
}
.card_resume {
}
.card_source {
  padding: 1em;
}
.card_reactions {
}
</style>
