<template>
  <div class="modal_about">
    <div class="about_wrap d-f-center f-row">
      <div class="wrap_about_logo">
        <img
          :class="!isMobile.any() ? 'about_logo' : 'about_logo_mobile'"
          src="noprod.png"
        />
      </div>
      <div class="about_content auto-size d-f-center f-col">
        <div class="about_edition d-f-center f-col t-2 bold">
          <div class="name">NOPR3D</div>
          <div class="role">Full Stack Developer</div>
        </div>
        <div class="location d-f-center f-col t-1">
          <div class="country">France</div>
          <div class="town">Lille</div>
        </div>
        <a-divider></a-divider>
        <div class="about_social">
          <a-button
            class="about_actions"
            type="primary"
            value="large"
            @click="_open('https://www.linkedin.com/in/amine-boucham/')"
          >
            <template #icon><LinkedinFilled /></template>
          </a-button>
          <a-button
            type="primary"
            class="about_actions"
            value="large"
            @click="_open('https://twitter.com/amine_boucham')"
          >
            <template #icon><TwitterCircleFilled /></template>
          </a-button>
          <a-button
            type="primary"
            class="about_actions"
            value="large"
            @click="_open('https://github.com/NOPR9D')"
          >
            <template #icon><GithubOutlined /></template>
          </a-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Ref, ref } from "@nopr3d/vue-next-rx";
import { isMobile } from "@/services";
import { Application } from "@/models";

export default defineComponent({
  name: "About",
  components: {},
  props: {
    app: {
      type: Object as () => Application,
      required: true,
    },
  },
  methods: {
    loadModal() {
      null;
    },
    closeModal() {
      null;
    },
    _open(url: string) {
      open(url, "_blank");
    },
  },
  setup() {
    return { isMobile };
  },
});
</script>
<style lang="scss">
.about_logo {
  position: relative;
  width: 10em;
}

.about_logo_mobile {
  position: relative;
  width: 5em;
}
.about_wrap {
  padding: 2em;
}
.about_actions {
  margin: 0.5em;
}
</style>
