<template>
  <div class="modal_settings">
    <a-row class=" d-f d-f-center f-col">
      <a-col :span="24" class="element d-f d-f-center t-2 bold">
        Change your Background</a-col
      >
      <a-divider></a-divider>
    </a-row>
    <a-row>
      <a-col
        :span="!isMobile.any() ? 8 : 24"
        class="element d-f d-f-center"
        v-for="(item, index) in data"
        :key="index"
      >
        <div
          @click="setAnimation(item)"
          class="anim_item"
          v-if="!isMobile.any() ? true : item.mobile"
        >
          <div class="wrap_anim d-f d-f-center f-col">
            <div class="title bold">{{ item.name }}</div>
            <div class="preview">
              <img
                class="preview_picture"
                :src="require(`@/assets/previews/${item.preview}.png`)"
              />
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { isMobile } from "@/services";
import { Application } from "@/models";

import { background, clean } from "@/gl/Background";

export default defineComponent({
  name: "Background",
  components: {},
  emits: ["action"],
  props: {
    app: {
      type: Object as () => Application,
      required: true,
    },
  },
  data() {
    return {
      data: [
        {
          name: "Glitch City",
          preview: "GlitchCity",
          isGl: false,
          mobile: true,
        },
        {
          shader: "GlitchStorm",
          name: "Glitch Storm",
          preview: "GlitchStorm",
          isGl: true,
          mobile: true,
        },
        {
          shader: "SpaceBlue",
          name: "Space Blue",
          preview: "SpaceBlue",
          isGl: true,
          mobile: false,
        },
        {
          shader: "FloatingBox",
          name: "Floating Box",
          preview: "FloatingBox",
          isGl: true,
          mobile: true,
        },
        {
          shader: "MovingCloud",
          name: "Moving Clouds",
          preview: "MovingClouds",
          isGl: true,
          mobile: true,
        },
      ],
    };
  },
  methods: {
    setAnimation(animation: { shader: string; name: string; isGl: boolean }) {
      if (animation.isGl) {
        //@ts-ignore
        if (this.$store.state.showGl) clean();
        background(animation.shader);
        //@ts-ignore
        this.$store.commit("showGl");
      } else {
        //@ts-ignore
        if (this.$store.state.showGl) clean();
        //@ts-ignore
        this.$store.commit("hideGl");
      }
    },
  },
  setup() {
    return { isMobile };
  },
});
</script>
<style lang="scss">
.wrap_anim {
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  bottom: 50%;
  color: white;
}

.wrap_anim:hover {
  > {
    .title {
      animation: colorHover 2s infinite alternate;
    }
    .preview {
      animation: opaciyHover 2s infinite alternate;
    }
  }
}

@keyframes colorHover {
  0% {
    color: white;
  }
  100% {
    color: blanchedalmond;
  }
}

@keyframes opaciyHover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.preview {
  width: min-content;
}
.preview_picture {
  width: 15em;
}
.__modal_background {
  width: max-content !important;
}
.modal_settings {
  padding: 2.5em;
}

.anim_item {
  cursor: pointer;
  margin: auto;
  padding: 2em 0em;
}
</style>
