<template>
  <div class="modal_blog">
    <a-row class="modal_blog_content d-f-baseline f-row">
      <a-col
        class="wrap_blog_icon_draggable d-f-a-center"
        v-for="(content, index) in app.contents"
        :span="!isMobile.any() ? 4 : 8"
        :key="index"
      >
        <IconLink
          :linkObject="content"
          class="draggable"
          @click="open(content)"
          @mousedown="start"
          @mouseout="stop"
          @mouseleave="stop"
          @mouseup="stop"
        />
      </a-col>
    </a-row>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Ref, ref } from "@nopr3d/vue-next-rx";
import { isMobile } from "@/services";
import { Application, Article } from "@/models";

import IconLink from "@/components/IconLink.vue";

export default defineComponent({
  name: "Blog",
  components: { IconLink },
  props: {
    app: {
      type: Object as () => Application,
      required: true,
    },
  },
  setup() {
    return { isMobile };
  },
  methods: {
    loadModal() {
      null;
    },
    closeModal() {
      null;
    },
    open(content: Article) {
      if (!this.isLongPress) {
        window.open(content.link, "_blank");
      }
    },
    start() {
      this.interval = setInterval(() => (this.isLongPress = true), 250);
    },
    stop() {
      setTimeout(() => {
        clearInterval(this.interval);

        this.isLongPress = false;
      }, 500);
    },
  },
  data() {
    return { isLongPress: false, interval: null };
  },
});
</script>
<style lang="scss">
.modal_blog {
  padding: 2em 0em;
}

.__modal_blog {
  width: max-content !important;
}
.ant-modal-body {
  padding: 0 !important;
}

.modal_blog_content {
  padding: 1em;
}
</style>
