<template>
  <a-modal
    :mask="false"
    :visible="app.isOpen"
    :title="app.name"
    @ok="closeModal"
    @cancel="closeModal"
    :wrapClassName="'_content  __modal'"
    class="opacity-0"
    :class="
      `draggable-modal __modal_${app.name.toLowerCase().replaceAll(' ', '_')}`
    "
    :afterClose="closeModal"
    :footer="null"
    :maskClosable="false"
    :getContainer="container"
  >
    <component
      @click="onClick(app, $event)"
      :ref="`modal_content_${app.name.toLowerCase().replaceAll(' ', '_')}`"
      :is="app.component"
      :app="app"
      @action="pipe"
    ></component>
  </a-modal>
</template>

<script lang="ts">
// @ts-nocheck

import { Application } from "@/models";
import { defineComponent } from "vue";

import { firstPlan, secondPlan } from "@/services";

export default defineComponent({
  name: "Component",
  emits: ["close-window", "show-window", "action", "set-focus"],
  props: {
    app: {
      type: Object as () => Application,
      required: true,
    },
  },
  components: {},
  methods: {
    pipe(app: Application) {
      this.$emit("action", app);
    },
    onClick(app: Application, e: any) {
      this.$emit("set-focus", app);
    },
    firstPlan() {
      //@ts-ignore
      this.$nextTick(() => {
        firstPlan(this.app);
      });
    },
    secondPlan() {
      //@ts-ignore
      this.$nextTick(() => {
        secondPlan(this.app);
      });
    },

    container() {
      return document.getElementById("component_holder_wrap");
    },
    showModal() {
      //@ts-ignore
      this.$nextTick(() => {
        //@ts-ignore
        this.$props.app.isOpen = true;

        this.$emit("show-window", this.app);
      });
      this.$forceUpdate();

      this.$nextTick(() => {
        this.$refs[
          `modal_content_${this.$props.app.name
            .toLowerCase()
            .replaceAll(" ", "_")}`
        ].loadModal();
      });
    },
    closeModal() {
      //@ts-ignore
      this.$nextTick(() => {
        //@ts-ignore
        this.$props.app.isOpen = false;
        this.$emit("close-window", this.app);
      });
      this.$forceUpdate();

      this.$nextTick(() => {
        this.$refs[
          `modal_content_${this.$props.app.name
            .toLowerCase()
            .replaceAll(" ", "_")}`
        ].closeModal();
      });
    },
  },
});
</script>
<style lang="scss">
.__modal {
  overflow: hidden !important;
}

._content {
  display: contents !important;
}

.ant-modal-root {
  display: contents;
}

.ant-modal-header {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.ant-modal {
  position: absolute !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.first-plan {
  z-index: 1 !important;
}

.ant-modal-wrap {
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
}

.ant-modal-title {
  font-size: 1.25rem !important;
}
</style>
