<template>
  <div class="modal_face_mask d-f-center f-col">
    <a-steps
      class="face_steps d-f-center f-row"
      v-if="!steps.intro && steps.steps && steps.app.status !== 'finish'"
    >
      <a-step>
        <template #icon>
          <div
            class="face_mask_step_icon"
            :class="
              steps.camera.status === 'finish' ? 'icon_finish' : 'icon_waiting'
            "
            v-html="icons.camera"
          ></div>
        </template>
      </a-step>
      <a-step :status="steps.modelMask.status">
        <template #icon>
          <div
            class="face_mask_step_icon"
            :class="
              steps.modelMask.status === 'finish'
                ? 'icon_finish'
                : 'icon_waiting'
            "
            v-html="icons.mask"
          ></div>
        </template>
      </a-step>
      <a-step :status="steps.modelWithoutMask.status">
        <template #icon>
          <div
            class="face_mask_step_icon"
            :class="
              steps.modelWithoutMask.status === 'finish'
                ? 'icon_finish'
                : 'icon_waiting'
            "
            v-html="icons.faceId"
          ></div>
        </template>
      </a-step>
      <a-step :status="steps.learn.status">
        <template #icon>
          <div
            class="face_mask_step_icon"
            :class="
              steps.learn.status === 'finish' ? 'icon_finish' : 'icon_waiting'
            "
            v-html="icons.machineLearning"
          ></div>
        </template>
      </a-step>
    </a-steps>

    <div class="wrap_template_content d-f-center f-col auto-size">
      <div class="template_title t-2 p-b-5">
        <div class="bold" id="wrap_template_title">{{ title }}</div>
        <div v-if="steps.intro">Plusieurs étapes :</div>
      </div>
      <div class="template_intro d-f-center f-col auto-size" v-if="steps.intro">
        <a-row class="d-f-center f-row p-b-5 t-1 bold"
          ><a-col
            class="d-f-center f-col  animate__animated animate__fadeIn p-2"
            :span="!isMobile.any() ? 12 : 24"
          >
            <div
              :class="
                !isMobile.any()
                  ? 'face_mask_step_icon_large'
                  : 'face_mask_step_icon'
              "
              v-html="icons.camera"
            ></div>
            <div>Autorisation d'utiliser votre caméra</div> </a-col
          ><a-col
            class="d-f-center f-col animate__animated animate__fadeIn animate__delay-1s p-2"
            :span="!isMobile.any() ? 12 : 24"
          >
            <div
              :class="
                !isMobile.any()
                  ? 'face_mask_step_icon_large'
                  : 'face_mask_step_icon'
              "
              v-html="icons.mask"
            ></div>
            <div>Préparation du model en portant un masque</div>
            <div class="info">
              Vous devez entraîner votre model avec votre visage, en portant un
              masque
            </div> </a-col
          ><a-col
            class="d-f-center f-col animate__animated animate__fadeIn animate__delay-2s p-2"
            :span="!isMobile.any() ? 12 : 24"
          >
            <div
              :class="
                !isMobile.any()
                  ? 'face_mask_step_icon_large'
                  : 'face_mask_step_icon'
              "
              v-html="icons.faceId"
            ></div>
            <div>Préparation du model sans porter de masque</div>
            <div class="info">
              Vous devez entraîner votre model à visage découvert
            </div></a-col
          ><a-col
            class="d-f-center f-col animate__animated animate__fadeIn animate__delay-3s p-2"
            :span="!isMobile.any() ? 12 : 24"
          >
            <div
              :class="
                !isMobile.any()
                  ? 'face_mask_step_icon_large'
                  : 'face_mask_step_icon'
              "
              v-html="icons.machineLearning"
            ></div>
            <div>Phase d'apprentissage</div>
            <div class="info">
              Basé sur les exemples que vous avez fournit à votre model,
              l'application va construire son systeme de raisonnement
            </div>
          </a-col>
        </a-row>
        <a-divider></a-divider>
        <a-row class="d-f-center f-row">
          <a-col :span="24">
            <a-button
              class="about_actions action_bottom"
              type="primary"
              value="large"
              @click="startSteps"
              >Commencer</a-button
            >
          </a-col>
        </a-row>
      </div>
      <div
        v-if="
          !steps.camera.done &&
            !steps.camera.ok &&
            steps.camera.inProgress &&
            !steps.intro
        "
        class="not_authorized d-f-center f-col auto-size"
      >
        <div class="content  d-f-center f-col auto-size">
          <div class="bold t-2">Veuillez autoriser la caméra</div>
          <div class="info">Nous ne collectons aucune donnée</div>
        </div>
        <div class="actions">
          <a-button
            class="about_actions action_bottom"
            type="primary"
            value="large"
            @click="activateCamera"
            >Activer la caméra</a-button
          >
        </div>
      </div>
      <div
        v-if="!steps.camera.done && steps.camera.ok && steps.camera.inProgress"
        class="not_authorized"
      >
        Veuillez autoriser la caméra (Il y à eu une erreur, veuillez recharger)
      </div>

      <div id="face_mask" class="wrap_face_mask d-f-center auto-size">
        <a-row
          class="d-f-center f-row t-1 bold"
          v-if="steps.app.status === 'wait' && steps.app.ok"
        >
          <a-col
            class="d-f-center f-col animate__animated animate__fadeIn"
            :span="24"
          >
            <div
              class="face_mask_step_icon_large animate__animated animate__bounce animate__delay-1s"
              v-html="icons.check"
            ></div>
            <div>Votre application est prête !</div></a-col
          >

          <a-col :span="24">
            <a-button
              class="about_actions action_bottom"
              type="primary"
              value="large"
              @click="startApp"
              >Cliquez ici</a-button
            >
          </a-col>
        </a-row>
        <a-row
          class="d-f-center f-row t-1 bold auto-size"
          v-if="steps.learn.status === 'process'"
        >
          <a-col
            class="d-f f-col animate__animated animate__fadeIn bold t-1  auto-size"
            :span="24"
          >
            <div
              class="face_mask_step_icon_large animate__animated animate__bounce animate__delay-1s"
              v-html="icons.learn"
            ></div>
            <div>
              Une fois que vous êtes prêt veuillez lancer l'apprentissage.
            </div>
            <div class="p-b-2">
              Attention, votre navigateur peut se figer durant l'opération.
            </div>
          </a-col>
          <a-divider></a-divider>

          <a-col :span="24">
            <div class="p-t-2">Lancer l'apprentissage</div></a-col
          >
          <a-col :span="24" class="d-f-center">
            <a-button
              class="about_actions action_bottom margin-auto"
              type="primary"
              value="large"
              v-if="!isBusy"
              @click="train"
              >Cliquez ici</a-button
            >
            <div
              v-if="isBusy"
              class="face_mask_step_icon_large margin-auto"
              v-html="icons.loader"
            ></div>
          </a-col>
        </a-row>
        <div class="face_mask_advice" v-if="needAdvice" v-html="advice"></div>
        <div class="face_mask_action" v-if="needActionFn">
          <a-button
            class="about_actions"
            type="primary"
            value="large"
            @click="actionFn"
            >{{ actionLabel }}</a-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
//@ts-nocheck
import { defineComponent } from "vue";

import { isMobile } from "@/services";
import * as ml5 from "ml5";
import p5 from "p5";
export default defineComponent({
  name: "FaceMask",
  data() {
    return {
      icons: {
        check: require("@/assets/svg/check.svg"),
        loader: require("@/assets/svg/grid.svg"),
        camera: require("@/assets/svg/camera.svg"),
        mask: require("@/assets/svg/mask.svg"),
        faceId: require("@/assets/svg/face_id.svg"),
        machineLearning: require("@/assets/svg/machine_learning.svg"),
      },
      video: {},
      show: false,
      advice: "",
      needAdvice: false,
      actionFn: () => {
        console.log("Hu hu , something wrongs");
      },
      needActionFn: false,
      actionLabel: "",
      title: "",
      titleEl: null,
      label: "",
      videoSize: 64,
      isBusy: false,
      ready: false,
      p5: null as p5,
      ml5: null,
      ml5Options: {
        inputs: [64, 64, 4],
        task: "imageClassification",
        debug: true,
      },
      pixelBrain: null,
      steps: {
        intro: true,
        steps: true,
        camera: { done: false, inProgress: true, ok: false, status: "process" },
        modelMask: {
          done: false,
          inProgress: false,
          ok: false,
          status: "wait",
          pictures: 40,
        },
        modelWithoutMask: {
          done: false,
          inProgress: false,
          ok: false,
          status: "wait",
        },
        learn: { done: false, inProgress: false, ok: false, status: "wait" },
        app: { done: false, inProgress: false, ok: false, status: "wait" },
      },
    };
  },
  setup() {
    return { isMobile };
  },
  methods: {
    loadModal() {
      setTimeout(() => {
        this.title = "Comment ça marche ?";
        this.initMl5();
        this.titleEl = document.getElementById("wrap_template_title");
        this.show = true;
      }, 250);
    },
    closeModal() {
      setTimeout(() => {
        if (this.p5) this.p5.remove();

        this.ml5 = null;
        this.pixelBrain = null;

        this.ready = false;
        this.isBusy = false;
        this.title = "";
        this.label = "";
        this.advice = "";
        this.needAdvice = false;
        this.needActionFn = false;
        this.steps.intro = true;
        this.steps.steps = true;

        this.steps.camera = {
          done: false,
          inProgress: true,
          ok: false,
          status: "process",
        };

        this.steps.modelMask = {
          done: false,
          inProgress: false,
          ok: false,
          status: "wait",
          pictures: 40,
        };

        this.steps.modelWithoutMask = {
          done: false,
          inProgress: false,
          ok: false,
          status: "wait",
          pictures: 40,
        };
        this.steps.learn = {
          done: false,
          inProgress: false,
          ok: false,
          status: "wait",
        };
        this.steps.app = {
          done: false,
          inProgress: false,
          ok: false,
          status: "wait",
        };
      }, 250);
    },
    cameraReady() {
      this.nextStep("camera", "status", "finish");
      this.nextStep("camera", "done", true);
      this.nextStep("camera", "inProgress", false);
      this.nextStep("camera", "ok", true);

      this.nextStep("modelMask", "status", "process");
      this.nextStep("modelMask", "inProgress", true);
      this.fadeInTitle();
      this.title = "Entrainement du model AVEC masque";
      this.needAdvice = true;
      this.advice =
        "<div>Une fois que vous êtes prêt veuillez lancer l'entrainement.</div><div>Cela ne prendra que quelques secondes.</div>";

      this.needActionFn = true;
      this.actionLabel = "Commencer l'entrainement AVEC masque";
      this.actionFn = () => {
        this.addMaskExample();
      };
    },
    modelMaskReady() {
      this.nextStep("modelMask", "status", "finish");
      this.nextStep("modelMask", "done", true);
      this.nextStep("modelMask", "inProgress", false);
      this.nextStep("modelMask", "ok", true);

      this.nextStep("modelWithoutMask", "status", "process");
      this.nextStep("modelWithoutMask", "inProgress", true);
      this.fadeInTitle();
      this.title = "Entrainement du model SANS masque";
      this.needAdvice = true;
      this.advice =
        "<div>Une fois que vous êtes prêt veuillez lancer l'entrainement.</div><div>Cela ne prendra que quelques secondes.</div>";

      this.needActionFn = true;
      this.actionLabel = "Commencer l'entrainement SANS masque";
      this.actionFn = () => {
        this.addNoMaskExample();
      };
    },
    modelNoMaskReady() {
      this.nextStep("modelWithoutMask", "status", "finish");
      this.nextStep("modelWithoutMask", "done", true);
      this.nextStep("modelWithoutMask", "inProgress", false);
      this.nextStep("modelWithoutMask", "ok", true);

      this.nextStep("learn", "status", "process");
      this.nextStep("learn", "inProgress", true);
      this.fadeInTitle();
      this.title = "Phase d'apprentissage";
      this.needAdvice = false;
      this.actionLabel = "Commencer l'apprentissage";
      this.hideCanvas();
      this.needActionFn = false;
      this.actionFn = () => {
        console.log("hu hu, problem");
      };
    },
    learnReady() {
      this.nextStep("learn", "status", "finish");
      this.nextStep("learn", "done", true);
      this.nextStep("learn", "inProgress", false);
      this.nextStep("learn", "ok", true);
      this.title = "";
      this.nextStep("app", "status", "wait");
      this.nextStep("app", "ok", true);
    },
    startApp() {
      this.nextStep("app", "status", "finish");
      this.nextStep("app", "done", true);
      this.nextStep("app", "inProgress", false);
      this.nextStep("app", "ok", true);
      this.video.hide();
      this.displayCanvas();
      this.fadeInCanvas();
    },
    nextStep(step: string, state: string, value: any) {
      this.$data.steps[step][state] = value;
    },
    fadeInTitle() {
      this.titleEl.classList.remove("animate__animated", "animate__fadeIn");
      this.titleEl.classList.add("animate__animated", "animate__fadeIn");
    },
    initMl5() {
      this.ml5 = ml5;
      this.pixelBrain = this.ml5.neuralNetwork(this.ml5Options);
    },
    addMaskExample() {
      this.needActionFn = false;
      var i = 0;
      const intervalId = setInterval(() => {
        this.advice = `Entrainement en cours... ${i + 1} / 40 séquences`;

        this.addExample("Masque detecté ✔️");
        i = i + 1;
        if (i === 40) {
          clearInterval(intervalId);
          this.advice = "";
          this.modelMaskReady();
        }
      }, 200);
    },
    addNoMaskExample() {
      this.needActionFn = false;
      var i = 0;
      const intervalId = setInterval(() => {
        this.advice = `Entrainement en cours... ${i + 1} / 40 séquences`;

        this.addExample("Aucun masque ⛔");
        i = i + 1;
        if (i === 40) {
          clearInterval(intervalId);
          this.modelNoMaskReady();
        }
      }, 200);
    },
    addExample(label: string) {
      const inputImage = { image: this.video };
      const target = { label: label };

      this.pixelBrain.addData(inputImage, target);
    },
    classifyVideo() {
      const inputImage = { image: this.video };
      this.pixelBrain.classify(inputImage, this.gotResult);
    },
    train() {
      this.isBusy = true;
      this.pixelBrain.normalizeData();
      this.pixelBrain.train({ epochs: 50 }, this.finishedTraining);
    },
    finishedTraining() {
      this.ready = true;
      document.getElementsByClassName("css-1x8bgru css-omocl")[0].click();
      this.learnReady();
      this.classifyVideo();
    },
    gotResult(error: any, results: any) {
      if (error) return;
      this.label = results[0].label;
      this.classifyVideo();
    },
    startSteps() {
      this.steps.intro = false;
      this.fadeInTitle();
      this.title = "Accès camera";
    },
    hideCanvas() {
      document.getElementsByClassName("p5Canvas")[0].classList.add("none");
    },
    displayCanvas() {
      document.getElementsByClassName("p5Canvas")[0].classList.remove("none");
    },
    fadeInCanvas() {
      document
        .getElementsByClassName("p5Canvas")[0]
        .classList.remove("animate__animated", "animate__fadeIn");
      document
        .getElementsByClassName("p5Canvas")[0]
        .classList.add("animate__animated", "animate__fadeIn");
    },
    activateCamera() {
      if (this.p5) return;
      const _p5 = new p5((p5: p5) => {
        this.p5 = p5;
      }, document.getElementById("face_mask"));
      this.hideCanvas();
      this.p5.createCanvas(600, 600);

      const optionsVideo = !isMobile.any()
        ? {
            audio: false,
            video: true,
          }
        : {
            audio: false,
            video: {
              facingMode: "user",
            },
          };
      this.video = this.p5.createCapture(optionsVideo, this.cameraReady);
      var videoElement = document.querySelector("video");
      this.video.size(this.videoSize, this.videoSize);
      this.video.hide();

      videoElement.onloadedmetadata = () => {
        this.displayCanvas();
        this.fadeInCanvas();
        setInterval(() => {
          this.p5.image(this.video, 0, 0, 600, 600);
          if (this.ready) {
            this.p5.textSize(64);
            this.p5.textAlign(this.p5.CENTER, this.p5.CENTER);
            this.p5.fill(255);
            this.p5.text(this.label, 600 / 2, 600 / 2);
          }
        }, 100);
        this.cameraReady();
      };
    },
  },
});
</script>
<style lang="scss">
.__modal_face_mask_detector {
  width: min-content !important;
  height: min-content !important;
  position: relative;
  > .ant-modal-content {
    padding: 2em !important;
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    align-items: center !important;
    min-width: 500px !important;
    min-height: 500px !important;
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      min-width: 350px !important;
      min-height: 350px !important;
    }
  }
}

.visor-controls {
  opacity: 0 !important;
}
.face_steps {
  padding: 2em !important;
}

.about_actions {
  font-weight: bold !important;
  font-size: 1em !important;
}
.wrap_face_mask {
  position: relative;
  width: 100%;
  height: min-content;
  padding: 1em;
  > video {
    display: none;
  }
  > canvas {
    margin: 0.5em;
    min-width: max-content !important;
    min-height: max-content !important;
    border-radius: 2em;
    background: white;
    box-shadow: 5px 5px 0px #e0e0e0, -5px -5px 0px #ffffff;
  }
}

.face_mask_step_icon {
  width: 2.5em !important;
}

.face_mask_step_icon_large {
  width: 5em !important;
}

.info {
  font-size: 0.95rem;
  color: gray;
  opacity: 0.8;
  line-height: 1rem;
}

.icon_finish {
  > svg {
    > * {
      fill: green !important;
      > * {
        fill: green !important;
      }
    }
  }
}
.icon_fail {
  > svg {
    > * {
      fill: red !important;
      > * {
        fill: red !important;
      }
    }
  }
}
.icon_waiting {
  > svg {
    > * {
      fill: grey !important;
      > * {
        fill: grey !important;
      }
    }
  }
}
.ant-steps-item-custom {
  margin: 0px 16px !important;
}
.face_mask_advice {
  position: absolute;
  top: 1em;
  right: 1em;
  border-radius: 10px;
  border: solid silver 1px;
  background: #ffffffda;
  box-shadow: 5px 5px 0px #dedede, -5px -5px 0px #ffffff;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1rem;
  z-index: 1;
}

.face_mask_action {
  position: absolute;
  border: solid silver 1px;
  background: #ffffffda;
  box-shadow: 5px 5px 0px #dedede, -5px -5px 0px #ffffff;
  bottom: 20%;
  width: min-content;
  padding: 2em;

  border-radius: 20px;
  right: 20%;
  left: 20%;
  bottom: 25%;
  z-index: 1;
}

.margin-auto {
  margin: auto;
}
</style>
