<template>
  <div class="modal_folder"></div>
  <p>Folder contents...</p>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Ref, ref } from "@nopr3d/vue-next-rx";
import { isMobile } from "@/services";
import { Application } from "@/models";

export default defineComponent({
  name: "Folder",
  components: {},
  props: {
    app: {
      type: Object as () => Application,
      required: true,
    },
  },
  setup() {
    return {};
  },
});
</script>
<style lang="scss"></style>
