<template>
  <div class="icon_wrap text-center t-1">
    <div class="icon_img">
      <a-badge :count="linkObject.reactions" show-zero>
        <img
          class="icon_large"
          :src="
            require(`@/assets/applications/${
              linkObject.icon ? linkObject.icon : 'web'
            }.png`)
          "
      /></a-badge>
    </div>
    <div class="icon_name">{{ linkObject.title }}</div>
  </div>
</template>

<script lang="ts">
import { IconLink } from "@/models";
import { defineComponent } from "vue";

export default defineComponent({
  name: "IconLink",
  props: {
    linkObject: {
      type: Object as () => IconLink,
      required: true,
    },
  },
});
</script>
<style lang="scss" scoped>
.icon_large {
  height: 5em;
  width: 5em;
}

.icon_wrap {
  padding: 0.5em;
}
</style>
