<template>
  <div class="icon_wrap bold">
    <div class="icon_img">
      <a-badge :count="app.badge">
        <img
          class="icon_large"
          :src="require(`@/assets/applications/${app.icon}.png`)"
      /></a-badge>
    </div>
    <div class="icon_name">{{ app.name }}</div>
  </div>
</template>

<script lang="ts">
import { Application } from "@/models";
import { defineComponent } from "vue";

export default defineComponent({
  name: "Icon",
  props: {
    app: {
      type: Object as () => Application,
      required: true,
    },
  },
});
</script>
<style lang="scss" scoped>
.icon_large {
  height: 5em;
  width: 5em;
}

.icon_wrap {
  padding: 0.5em;
}
</style>
