<template>
  <div class="main_action_bar">
    <a-dropdown :trigger="['click']">
      <div class="d-f-a-center">
        <a
          class="ant-dropdown-link black t-2 bold"
          @click="(e) => e.preventDefault()"
        >
          Menu
        </a>
      </div>
      <template #overlay>
        <a-menu>
          <a-menu-item
            @click="emitApp(app)"
            v-for="(app, index) in apps"
            :key="index"
            class="d-f-a-center f-row"
          >
            <div class="main_action_dropdown_icon">
              <img :src="require(`@/assets/applications/${app.icon}.png`)" />
            </div>

            <div class="main_action_dropdown_label text-center bold t-1">
              {{ app.name }}
            </div>
          </a-menu-item>
        </a-menu>
      </template>
    </a-dropdown>
    * <a-divider type="vertical" class="large-divider" />
    <div
      @click="emitActivity(activatedApp)"
      class="mainbar-tab mainbar-tab-activity mainbar-tab-default"
      v-for="(activatedApp, index) in activatedApps"
      :key="index"
    >
      {{ activatedApp.name }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Ref, ref } from "@nopr3d/vue-next-rx";
import { isMobile } from "@/services";
import { Application } from "@/models";

export default defineComponent({
  name: "MainActionBar",
  components: {},
  emits: ["click-app", "click-activity"],
  props: {
    apps: {
      type: Object as () => Application[],
      required: true,
    },
  },
  data() {
    return { activatedApps: [] };
  },
  methods: {
    emitApp(app: Application) {
      this.$emit("click-app", app);
    },
    emitActivity(app: Application) {
      this.$emit("click-activity", app);
    },

    appApp(app: Application) {
      const index = this.activatedApps.indexOf(app);
      if (index === -1) this.activatedApps.push(app);
    },
    removeApp(app: Application) {
      this.activatedApps = this.activatedApps.filter(function(
        value,
        index,
        arr
      ) {
        return value.name !== app.name;
      });
    },
  },
});
</script>

<style lang="scss">
.large-divider {
  font-size: 2em !important;
  padding: 1px !important;
}

.main_action_dropdown_icon {
  > img {
    width: 4em;
    height: 4em;
  }
}

.main_action_dropdown_label {
  padding: 1em;
}
</style>
