<template>
  <div class="modal_music">
    <p>Music contents...</p>
    <p>Music contents...</p>
    <p>Music contents...</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { isMobile } from "@/services";

export default defineComponent({
  name: "Music",
  components: {},
  setup() {
    return {};
  },
});
</script>
<style lang="scss"></style>
