<script lang="ts">
import { defineComponent, h } from "vue";
import { isMobile } from "@/services";
export default defineComponent({
  name: "PdfPage",
  components: {},
  props: {
    _page: {
      type: Object,
      required: true,
    },
  },
  render(ctx: any) {
    //@ts-ignore
    const { canvasAttrs: attrs } = ctx;
    return h("canvas", attrs);
  },
  data() {
    return {
      viewport: {
        width: 0,
        height: 0,
      },
      scale: !isMobile.any() ? 1.5 : 1.2,
      renderTask: undefined,
      page: null,
    };
  },
  async mounted() {
    this.page = await this._page;
    this.viewport = this.page.getViewport({ scale: this.scale });
    this.drawPage();
  },
  methods: {
    drawPage() {
      if (this.renderTask !== undefined) return;
      const { viewport } = this;
      const canvasContext = this.$el.getContext("2d");
      const renderContext = { canvasContext, viewport };

      this.renderTask = this.page.render(renderContext);
      this.renderTask.promise.then(() => {
        this.$emit("rendered", this.page);
      });
    },
  },

  computed: {
    canvasAttrs(): any {
      let { width, height }: any = this.viewport;
      [width, height] = [width, height].map((dim) => Math.ceil(dim));

      const style = this.canvasStyle;

      return {
        width,
        height,
        style,
        class: "pdf-page",
      };
    },
    canvasStyle(): string {
      const {
        width: actualSizeWidth,
        height: actualSizeHeight,
      } = this.actualSizeViewport;
      const pixelRatio = window.devicePixelRatio || 1;
      const [pixelWidth, pixelHeight] = [
        actualSizeWidth,
        actualSizeHeight,
      ].map((dim) => Math.ceil(dim / pixelRatio));
      return `width: ${pixelWidth}px; height: ${pixelHeight}px;`;
    },
    actualSizeViewport(): any {
      return {
        width: this.viewport.width,
        height: this.viewport.height,
        scale: this.scale,
      };
    },
  },
});
</script>
<style lang="scss"></style>
