<template>
  <div class="modal_pdf" v-if="show">
    <PdfPage
      :class="`wrap_pdf_page_${page.pageNumber}`"
      v-for="page in pages"
      :_page="page"
      :key="page.pageNumber"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import * as PdfJs from "pdfjs-dist";
//@ts-ignore
import * as pdfWorker from "pdfjs-dist/build/pdf.worker.entry";

import PdfPage from "@/components/PdfPage.vue";
import { ref } from "@nopr3d/vue-next-rx";
export default defineComponent({
  name: "PdfReader",
  components: { PdfPage },
  data() {
    return { show: true };
  },
  setup() {
    const pages = ref([]);
    PdfJs.GlobalWorkerOptions.workerSrc = pdfWorker;
    PdfJs.getDocument("boucham_amine.pdf").promise.then((pdfLoaded: any) => {
      for (let i = 1; i <= pdfLoaded.numPages; i++) {
        pages.value.push(pdfLoaded.getPage(i));
      }
    });

    return { pages };
  },
  methods: {
    loadModal() {
      null;
    },
    closeModal() {
      null;
    },
  },
});
</script>
<style lang="scss">
.modal_pdf {
  overflow: scroll;
  max-height: 97vh;
  width: min-content;
}
</style>
