<template>
  <div class="modal_tictactoe d-f-center f-col">
    <div v-if="intro && show" class="modal_tictactoe_intro">
      <div class="tictactoe_intro_title bold t-2">Jouez contre un Bot</div>
      <div class="tictactoe_intro_picture"><div v-html="assets.app"></div></div>
      <div class="tictactoe_intro_actions">
        <a-button
          class="about_actions"
          type="primary"
          value="large"
          @click="start"
          >start</a-button
        >
      </div>
    </div>
    <div v-else class="tictactoe_wrap_game_layout d-f-center f-col">
      <div class="game_header d-f-center f-row">
        <div class="human_logo">
          <div
            class="tic_tac_user_svg"
            v-html="assets.human[states.human.actual]"
          ></div>
        </div>
        <div class="against">VS</div>
        <div class="robot_logo">
          <div
            class="tic_tac_user_svg"
            v-html="assets.ia[states.ia.actual]"
          ></div>
        </div>
      </div>
      <div class="tic_tac_wrap"><div @click="onPress" id="wrapGame"></div></div>
      <div
        class="result empty_preserve bold t-2 p-3"
        :class="winner !== null ? '' : 'opacity-0'"
      >
        {{ winner }}
      </div>
      <a-divider></a-divider>
      <div class="modal_tictactoe_actions">
        <a-button class="about_actions" value="large" @click="reload"
          >Relancer la partie</a-button
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { isMobile } from "@/services";
import { Application } from "@/models";

import p5 from "p5";

export default defineComponent({
  name: "TicTacToe",
  components: {},
  props: {
    app: {
      type: Object as () => Application,
      required: true,
    },
  },
  data() {
    return {
      intro: true,
      show: false,
      board: [
        ["", "", ""],
        ["", "", ""],
        ["", "", ""],
      ],
      p5: null as p5,
      ops: { w: 0, h: 0 },
      ia: "X",
      human: "O",
      currentPlayer: null,
      winner: null,
      result: null,
      scores: { X: 10, O: -10, tie: 0 },
      antiSpam: false,
      states: {
        human: {
          happy: "happy",
          waitTurn: "waitTurn",
          loose: "loose",
          play: "play",
          whait: "wait",
          actual: "wait",
        },
        ia: {
          happy: "happy",
          waitTurn: "waitTurn",
          loose: "loose",
          play: "play",
          whait: "wait",
          actual: "wait",
        },
      },
      assets: {
        app: require("@/assets/games/tic_tac_toe/app.svg"),
        human: {
          happy: require("@/assets/games/tic_tac_toe/human_Happy.svg"),
          waitTurn: require("@/assets/games/tic_tac_toe/human_poker_face.svg"),
          loose: require("@/assets/games/tic_tac_toe/human_Sad.svg"),
          play: require("@/assets/games/tic_tac_toe/human_shocked.svg"),
          wait: require("@/assets/games/tic_tac_toe/human_Yawn.svg"),
        },
        ia: {
          happy: require("@/assets/games/tic_tac_toe/ia_Happy.svg"),
          waitTurn: require("@/assets/games/tic_tac_toe/ia_Confused.svg"),
          loose: require("@/assets/games/tic_tac_toe/ia_Sad.svg"),
          play: require("@/assets/games/tic_tac_toe/ia_Laughing.svg"),
          wait: require("@/assets/games/tic_tac_toe/ia_Sleeping.svg"),
        },
      },
    };
  },
  setup() {
    return { isMobile };
  },
  methods: {
    loadModal() {
      this.intro = true;
      this.show = true;
    },
    closeModal() {
      setTimeout(() => {
        this.show = false;
        this.intro = true;
        if (this.p5) this.p5.remove();
        this.board = [
          ["", "", ""],
          ["", "", ""],
          ["", "", ""],
        ];
        this.currentPlayer = this.human;
        this.winner = null;
        this.result = null;
        this.states.human.actual = "wait";
        this.states.ia.actual = "wait";
        this.antiSpam = false;
      }, 250);
    },
    restartModal() {
      this.intro = true;
      if (this.p5) this.p5.remove();
      this.p5 = null;
    },
    start() {
      this._show();
    },
    reload() {
      this.antiSpam = false;
      this.board = [
        ["", "", ""],
        ["", "", ""],
        ["", "", ""],
      ];
      this.currentPlayer = this.human;
      this.winner = null;
      this.result = null;
      this.states.human.actual = "wait";
      this.states.ia.actual = "wait";
      this.p5.redraw();
    },
    _show() {
      this.intro = false;
      if (this.p5) return;
      this.$nextTick(() => {
        new p5((p5: p5) => {
          this.p5 = p5;
          this.currentPlayer = this.human;
          this.p5.setup = this.drawCanvas;
          this.p5.draw = this.draw;
        }, document.getElementById("wrapGame"));
      });
    },
    drawCanvas() {
      this.p5.createCanvas(
        isMobile.any() ? window.innerWidth : 500,
        isMobile.any() ? window.innerHeight / 2 : 500
      );
      this.ops.w = this.p5.width / 3;
      this.ops.h = this.p5.height / 3;
      this.p5.noLoop();
    },
    checkWinner() {
      this.winner = null;

      // horizontal
      for (let i = 0; i < 3; i++) {
        if (
          this.equals3(this.board[i][0], this.board[i][1], this.board[i][2])
        ) {
          this.winner = this.board[i][0];
        }
      }

      // Vertical
      for (let i = 0; i < 3; i++) {
        if (
          this.equals3(this.board[0][i], this.board[1][i], this.board[2][i])
        ) {
          this.winner = this.board[0][i];
        }
      }

      // Diagonal
      if (this.equals3(this.board[0][0], this.board[1][1], this.board[2][2])) {
        this.winner = this.board[0][0];
      }
      if (this.equals3(this.board[2][0], this.board[1][1], this.board[0][2])) {
        this.winner = this.board[2][0];
      }

      var openSpots = 0;

      for (let i = 0; i < 3; i++) {
        for (let j = 0; j < 3; j++) {
          if (this.board[i][j] == "") {
            openSpots++;
          }
        }
      }

      if (this.winner === null && openSpots === 0) {
        return "tie";
      } else {
        return this.winner;
      }
    },

    onPress() {
      if (
        this.currentPlayer === this.human &&
        this.winner === null &&
        !this.antiSpam
      ) {
        const i = this.p5.floor(this.p5.mouseX / this.ops.w);
        const j = this.p5.floor(this.p5.mouseY / this.ops.h);

        if (this.board[i][j] === "" && this.winner === null) {
          this.antiSpam = true;
          this.board[i][j] = this.human;
          this.currentPlayer = this.ia;
          this.states.human.actual = this.states.human.waitTurn;
          this.states.ia.actual = this.states.ia.play;
          this.p5.redraw();

          setTimeout(() => {
            if (this.winner === null) {
              this.bestMove();
              this.p5.redraw();
              this.states.human.actual = this.states.human.play;
              this.states.ia.actual = this.states.ia.waitTurn;
            }
          }, 500);
        }
      }
    },
    draw() {
      this.p5.background(255);
      this.p5.strokeWeight(4);

      this.p5.line(this.ops.w, 0, this.ops.w, this.p5.height);
      this.p5.line(this.ops.w * 2, 0, this.ops.w * 2, this.p5.height);
      this.p5.line(0, this.ops.h, this.p5.width, this.ops.h);
      this.p5.line(0, this.ops.h * 2, this.p5.width, this.ops.h * 2);

      for (let j = 0; j < 3; j++) {
        for (let i = 0; i < 3; i++) {
          var x = this.ops.w * i + this.ops.w / 2;
          var y = this.ops.h * j + this.ops.h / 2;
          var spot = this.board[i][j];
          this.p5.textSize(32);

          var r = this.ops.w / 4;

          if (spot == this.human) {
            this.p5.noFill();
            this.p5.ellipse(x, y, r * 2);
          } else if (spot == this.ia) {
            this.p5.line(x - r, y - r, x + r, y + r);
            this.p5.line(x + r, y - r, x - r, y + r);
          }
        }
      }

      this.result = this.checkWinner();
      if (this.result !== null) {
        const toHuman = {
          tie: "Égalité",
          X: "Le robot a gagné !",
          O: "Vous avez gagné !",
        };

        setTimeout(() => {
          if (this.result === "X") {
            this.states.ia.actual = this.states.ia.happy;
            this.states.human.actual = this.states.human.loose;
          }
          if (this.result === "tie") {
            this.states.ia.actual = this.states.ia.whait;
            this.states.human.actual = this.states.human.whait;
          }
          if (this.result === "O") {
            this.states.ia.actual = this.states.ia.loose;
            this.states.human.actual = this.states.human.happy;
          }
        });

        this.winner = toHuman[this.result as never];
        this.p5.noLoop();
      }
    },
    bestMove() {
      var bestScore = -Infinity;
      var move = { i: 0, j: 0 };
      for (let i = 0; i < 3; i++) {
        for (let j = 0; j < 3; j++) {
          // Is the spot avialable?
          if (this.board[i][j] === "" && this.winner === null) {
            this.board[i][j] = this.ia;

            const score = this.minimax(this.board, 0, false);

            this.board[i][j] = "";
            if (score > bestScore) {
              bestScore = score;
              move.i = i;
              move.j = j;
            }
          }
        }
      }

      this.board[move.i][move.j] = this.ia;
      this.currentPlayer = this.human;
      this.antiSpam = false;
    },
    minimax(board: string[][], depth: number, isMaximizing: boolean) {
      const result = this.checkWinner();
      if (result !== null) {
        return this.scores[result as never];
      }

      if (isMaximizing) {
        let bestScore = -Infinity;
        for (let i = 0; i < 3; i++) {
          for (let j = 0; j < 3; j++) {
            // Is the spot avialable?
            if (board[i][j] === "") {
              board[i][j] = this.ia;
              const score = this.minimax(board, depth + 1, false);
              board[i][j] = "";
              bestScore = this.p5.max(score, bestScore);
            }
          }
        }
        return bestScore;
      } else {
        let bestScore = Infinity;
        for (let i = 0; i < 3; i++) {
          for (let j = 0; j < 3; j++) {
            // Is the spot avialable?
            if (board[i][j] === "") {
              board[i][j] = this.human;
              const score = this.minimax(board, depth + 1, true);
              board[i][j] = "";
              bestScore = this.p5.min(score, bestScore);
            }
          }
        }
        return bestScore;
      }
    },
    equals3(a: string, b: string, c: string) {
      return a === b && b === c && a !== "";
    },
  },
});
</script>
<style lang="scss">
.__modal_tic_tac_toe_vs_bot {
  min-width: 600px !important;
  min-height: 700px !important;
  width: 520px !important;
  @media (max-width: 768px) {
    min-width: 100% !important;
    min-height: 70% !important;
  }
}

.tic_tac_user_svg,
.tic_tac_robot_svg {
  margin: auto;
  width: 5em;
}

.game_header {
  width: 100%;
}

.human_logo,
.robot_logo {
  display: flex;
  flex: 1;
}

.__modal_tic_tac_toe_vs_bot_mobile {
  min-width: 100% !important;
  min-height: 70% !important;
}

.modal_tictactoe {
  width: 100%;
  height: 100%;
}

.tictactoe_intro_picture {
  width: 50%;
  margin: 0 auto;
}

// animation

.tictactoe_wrap_game_layout {
  animation: opa 2s ease-in-out forwards;
}

.modal_tictactoe_intro {
  animation: opa 2s ease-in-out forwards;
}

.tic_app_circle_center {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in-out forwards;
  animation-delay: 1s;
}

.tic_app_circle_up {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in-out forwards;
  animation-delay: 5s;
}

.tic_app_circle_bottom {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in-out forwards;
  animation-delay: 3s;
}

.tic_app_cross_middle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in-out forwards;
  animation-delay: 2s;
}

.tic_app_cross_bottom {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in-out forwards;
  animation-delay: 4s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes trap_fill {
  0% {
    fill: none;
  }

  100% {
    fill: black;
  }
}
</style>
