<template class="app">
  <canvas
    v-show="$store.state.showGl"
    class="glslCanvas"
    id="canvas"
    width="500px"
    height="500px"
  ></canvas>
  <div v-show="!$store.state.showGl" class="glitch">
    <div class="glitch_item"></div>
    <div class="glitch_item"></div>
    <div class="glitch_item"></div>
    <div class="glitch_item"></div>
    <div class="glitch_item"></div>
    <div class="glitch_background"></div>
  </div>

  <router-view></router-view>
  <div id="component_holder_wrap"></div>
</template>
<script lang="ts">
import { defineComponent, onMounted } from "vue";

import { initBell } from "@/services";

import { initLayout } from "@/services";
import { Applications } from "@/data";

export default defineComponent({
  setup() {
    onMounted(() => {
      if (process.env.NODE_ENV === "production") initBell();
      setTimeout(() => {
        initLayout(Applications);
      }, 0);
    });
  },
});
</script>

<style lang="scss">
@import "./assets/scss/bounce.scss";
@import "./assets/scss/flex.scss";
@import "./assets/scss/utils.scss";
@import "./assets/scss/theme.scss";
@import "./assets/scss/antd.scss";
@import "./assets/scss/effect.scss";
@import "./assets/scss/glitch.scss";

html,
body {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

#app {
  font-family: Lato, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  background: transparent;
  position: absolute;
  @extend .auto-size;
}

#app::before {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(50%, rgba(18, 16, 16, 0)),
      color-stop(50%, rgba(0, 0, 0, 0.25))
    ),
    -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 0),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: auto, auto;
  background-size: 100% 2px, 3px 100%;
}

#app::before,
#app::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  pointer-events: none;
}

.ant-layout,
.ant-layout-header,
.ant-layout-footer {
  background: transparent !important;
}
.ant-layout {
  height: 100%;
}

.glslCanvas {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
</style>
