<template>
  <div>icon</div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Ref, ref } from "@nopr3d/vue-next-rx";
import { isMobile } from "@/services";

export default defineComponent({
  name: "BackgroundSelect",
  components: {},
  setup() {
    return {};
  },
});
</script>
<style lang="scss"></style>
